* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-primary: 'Roboto', sans-serif;
    --bg-basecolor: #E5E5E5;
    --text-color: #323238;

    font-size: 62.5%;
}

body{
    background-color: var(--bg-basecolor);
    min-width: 100vw;
    min-height: 100vh;
    padding: 10%
}

header {
    text-align: end;
}
.hide{
    display: none;
}

main {
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    padding: 19.6rem 0; 
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.right {
    margin: auto;
    display: grid;
    gap: 3.2rem;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
                        "A B"
                        "C D" ;
}
.card {
    height: 15.2rem;
    gap: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E1E1E6;
    border-radius: 2.4rem;
    cursor: pointer;
}
.card svg path{
    fill:#323238;
}

.card.dark {
    background-color: #323238;
}

.card.dark svg path{
    fill: #C4C4CC;
}

.cardVolume {
    -webkit-appearance: none;
    width: 70%;
}

.cardVolume::-webkit-slider-runnable-track {
    /* width: 50%; */
    height: 0.4rem;
    background: black;
    border: none;
    border-radius: 0.3rem;
}

.dark > .cardVolume::-webkit-slider-runnable-track{
    background-color: #C4C4CC;
}

.cardVolume::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
    margin-top: -0.5rem;
}

.dark > .cardVolume::-webkit-slider-thumb{
    background: #C4C4CC;
}

.timer {
    font-family: var(--font-primary);
    font-size: clamp(6rem, 8rem + 10vw, 12.6rem);
    font-weight: bold;
    color: var(--text-color);
    display: flex;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button svg {
    width: clamp(2.4rem, 3.2rem + 20vw, 5.8rem);
    height: clamp(2.4rem, 3.2rem + 20vw, 5.8rem);
}


#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numberDarkMode{
    color: white;
}

button.numberDarkMode > svg > path {
    fill: white;
}

.card.clicked {
    background-color: #02799D;
}

.card.clicked > svg > path{
    fill: white;
}
.card.clicked > .cardVolume::-webkit-slider-runnable-track{
    background-color: white;
}
.card.clicked > .cardVolume::-webkit-slider-thumb{
    background: white;
}